<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>restradar</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>maps</string>
		<string>comgooglemaps</string>
		<string>citymapper</string>
		<string>transit</string>
		<string>lyft</string>
		<string>uber</string>
		<string>navigon</string>
		<string>waze</string>
		<string>dbnavigator</string>
		<string>yandexnavi</string>
		<string>moovit</string>
	</array>
	<key>NSWidgetWantsLocation</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
